body{
    background-image: url('imgs/eraofmusic.jpg');
    font-family: 'Courier New', Courier, monospace;
}
.logo{
  width:200px;
  height:200px;
  height: auto;
  border-radius:50px;
}

ul{
    text-align: center;
}
ul li{
    display: inline;
    margin: 15px;
    
}
li a{
    border: 3px solid black;
    border-radius: 10px;
    color:white;
    text-decoration: none;
    font-size: large;
    background-color:lightblue;
    padding: 10px;
}
li a:hover{
    transition-duration: 0.6s;
    color: aqua;
    background-color: azure;
}
h1{
    text-align:center;
    color:white;
}
p{
    text-align:center;
    color:white;
    font-size: large;
}
.search{
    text-align: center;
}
input[list]{
    width: 100%;
    background-color: lightgray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.autori div p{
    text-align: left;
    color:rgb(0, 162, 255);
    
}
.autori a{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: lightblue;
    text-decoration: none;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
    color:white;
    display: block;
    text-decoration: none;
    font-size: large;
    background-color:rgb(9, 12, 238);
    padding: 10px;
    width: 35%;
    margin-top:10px;
}

.image img{
    width: 305px;
    height:477px;
    border-radius: 15px;
    
}
.opis_tekst{
    font-size: larger;
    text-decoration:underline;
}

